@font-face {
	font-family:roboto_light;
	src:url('../fonts/RobotoCondensed-Light.ttf');
}

@font-face {
	font-family:roboto_condensed_regular;
	src:url('../fonts/RobotoCondensed-Regular.ttf');
}

@font-face {
	font-family:roboto_condensed;
	src:url('../fonts/RobotoCondensed-Light.ttf');
}